* {
    box-sizing: border-box;
}

html,body  {
    overflow-x: visible;
    overflow-y: visible;
    margin:0;
    padding:0;
    -webkit-tap-highlight-color: rgba(0,0,0,1);
}

html  {
    display:block;
}

body {
    font-family: Lato,"Microsoft YaHei",sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    background: #8c908c;

}


.page  {
    position:relative;
    width:740px;
    height:1077px;
    background: #f1eee8;
    margin:0 auto;
    overflow: hidden;
}

.left-content  {
    position: absolute;
    top:0;
    left:0;
    min-width: 300px;
    padding:10px 20px;
    width:40%;
    height: 100%;
    background: #4f667b;
}

.right-content  {
    position: absolute;
    top:0;
    right:0;
    width:59%;
    height: 100%;
    padding:10px 20px;
}

.user-info  {
    width:100%;
    padding-top:30px;
}

.user-photo  {
    width:150px;
    margin:0 auto;
}

.user-photo img  {
    width:150px;
    height: 150px;
    border-radius: 100%;
    overflow: hidden;
}

.user-name  {
    padding-top:10px;
    padding-bottom:10px;
    text-align: center;
    color: #f1eee8;
    font-size:35px;
    border-bottom:2px solid #4e4747;
}
.user-base  {
    padding-top: 4px;
    text-align: center;
    color: #403e39;
}
.user-base p  {
    margin:4px;
    padding:0;
}
.user-job  {
    padding-bottom: 5px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #383531;
    border-bottom: 1px solid #4e4747;
}
.user-skill  {
    width:100%;
    margin:0 auto;
    padding-top:20px;
    position: relative;
}

.ui-progress  {
    position:relative;
    margin:5px 0;
}

.ui-progress-name {
    display:inline-block;
    width:35%;
    font-size: 15px;
    color:#f1eee8;
    text-align: right;
    padding-right:12px;
}

.ui-progress-bar  {
    display:inline-block;
    width:65%;
    height:15px;
    border-radius: 5px;
    overflow: hidden;
    background: #667888;
    border:none;
}

.ui-progress-bar div  {
    width:100%;
    height:100%;
    background: #f1eee8;
    border-radius: 0 5px 5px 0;
    transform: translate3d(-100%,0,0);
    transition: all ease 1s;
    border:none
}

.ui-progress-bar-corner {
    width:5px;
    height:15px;
    position: absolute;
    right:65%;
    top:0;
    background: #f1eee8;
    border-radius: 5px 0 0 5px;
}

.user-description {
    font-size: 20px;
    text-indent: 2em;
    color:#e6e0cf;
}

.user-description pre  {
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
}

.user-hobby  {
    position: relative;
    height: 40px;
    font-size:20px;
    background: #f1eee8;
    width:300px;
    border-radius: 80px 0  80px 0;
    transform: translate3d(-20px,0,0);
    color:rgb(79, 102, 123);
    margin-bottom: 20px;
    padding-left: 100px;
    padding-top:10px;
}

.user-hobby-title  {
    position: absolute;
    font-size: 20px;
    left:50px;
    top: 10px;
}

.user-hobby-block  {
    float:left;
    padding:0 10px;
}

.user-contact {
/*    position: absolute;
    bottom:0;
    padding-bottom: 40px;*/
}

.user-contact .fa  {
    margin-right:8px;
    font-size:26px;
}

.user-contact div {
    color:#f1eee8;
    margin: 10px 0;
}

.education,.work-company,.work-experience  {
    margin:40px 0;
}

.h-school,.h-company  {
    font-size: 20px;
    padding-bottom:5px;
    padding-left: 20px;
}

.h-date  {
    font-size: 14px;
    padding-left: 20px;
    padding-bottom: 5px;
}

.h-specialty  {
    font-size: 18px;
    padding-left: 20px;
}

.title  {
    position: relative;
    height:30px;
    color:#4f667b;
    overflow: hidden;
    margin-bottom: 15px;
}

.title .fa  {
    font-size: 30px;
}

.title h1  {
    position: absolute;
    display: inline-block;
    font-size: 22px;
    top:0;
    left:45px;
    width:100%;
    margin:0;
    padding-right:45px ;
    border-bottom: 1px solid #4f667b;
}

.project  {
    border-bottom: 1px solid #cabbbb;
    margin: 0 20px 20px 0;
}

.project-name  {
    color:#4f667b;
    padding-left: 20px;
}

.project-tech  {
    position: relative;
    margin-bottom: 20px;
    padding-left: 20px;
}

.tech {
    display: inline-block;
    background:#4f667b;
    color:#f1eee8;
    font-size: 15px;
    margin:10px 5px 0 5px;
    padding:0 5px;
    border-radius: 4px;
}

.project-description  {
    overflow: visible;
    background:#f1eee8;
    border:none;
    padding-left: 18px;
    width:100%;
    font-size: 20px;
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
}