doctype html
html(lang="zh-cmn-Hans")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width,initial-scale=1.0")
        title   张志达的简历
        link(rel="stylesheet" href="./css/style.css" type="text/css")
        link(rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" type="text/css")
        script(src="./js/angular.js")
        script(src="./js/index.js")

    body(ng-app='CV')
        section.page
            .left-content
                .user-info
                    .user-photo
                        img(src='./data/logo.jpg')
                    .user-name 张志达
                    .user-base
                        p   25岁
                        p 浙江金华
                    .user-job 前端工程师
                .user-skill
                -var skill = {HTML:60,CSS:65,JavaScript:80,Angular:85,NodeJs:75,Express:90,MySql:60,Gulp:70,WebPack:65,'Flex':50,'C/C++':40};
                    each val,key in skill
                        div(ui-progress data-percent=val data-name=key)
                .user-description
                    pre 我对学习新技术充满热情,有较强的自学能力,同时也能够独立查询资料来解决问题,并且坚持有条理的进行工作。对es6进行过学习，未来希望使用vue或者react进行开发。同时加强NodeJs的能力，希望成为一个全栈工程师。
                .user-hobby
                    .user-hobby-title 爱好:
                    .user-hobby-block
                        i.fa.fa-futbol-o
                        | 足球
                    .user-hobby-block
                        i.fa.fa-steam-square
                        | 刀塔

                .user-contact
                    div
                        i.fa.fa-address-book-o
                        |
                    div
                        i.fa.fa-envelope-o
                        | zzd550510593@163.com
                    div
                        i.fa.fa-gitlab
                        | gitlab.com/zhidazhang
                    div
                        i.fa.fa-github
                        | github.com/zzd550510593
            .right-content
                .education
                    .title
                        i.fa.fa-graduation-cap
                        h1 教育背景
                    .h-school 西安电子科技大学
                    .h-date 2010年9月至2014年7月
                    .h-specialty 本科   信息安全专业
                .work-company
                    .title
                        i.fa.fa-user-circle-o
                        h1 工作经历
                    .h-company 广东省广州华工信元通信技术有限公司
                    .h-date 2014年7月至今
                    .h-specialty 前端工程师,NodeJs后端工程师
                .work-experience
                    .title
                        i.fa.fa-chrome
                        h1 项目经历
                    div(ui-project)





